@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --bg-color: #f3f5f6;
  --text-color: #222;
  --primary-color: #08b85a;
  --hover-color: #009646;
  --light: #fff;
  --dark: #000;
}

* {
  font-family: "Roboto Condensed", sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}



