@media (max-width: 600px) {
    
    .header-mobile{
        padding: 10px;
        background-color: var(--light);
    }
    .header-mobile .logo{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-mobile .logo .title {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .nav-icon{
        background-color: var(--light);
        padding: 5px 10px;
        font-size: 15px;
    }
    nav{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        justify-content: center;
        align-items: start;
    }
    nav a{
        text-decoration: none;
        color: var(--dark);
        margin-left: 10px;
    }

    .footer-content{
        padding: 20px;
    }
    .footer-content .logo{
        width: 100%;
    }
}